<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="OpenB OBML" path="*.ombl" verb="*" type="OpenB.Web.Http.HttpHandlerFactory" resourceType="File" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>
