<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>    
    <handlers>
      <remove name="StaticFile"/>
      <add name="OpenBHandler" verb="*" path="*" type="OpenB.Web.Http.HttpHandlerFactory, OpenB.Web" resourceType="Unspecified"/>
    </handlers>   
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>

